.color1{
    background-color: #00c2cb;
}
.hero-wrap .overlay{
    background: #FFA216;
}
.letra1{
    color:#00C2CB;

}
.heading-section h2{
    color:#FFA216;
}
.heading-section h2 span{
    color:#156384;
}
.letra2{
    color:#FFA216;
}
.pricing-entry .img{
    height: 450px
}
.imagen{
    height:70px;
    width:150px;
    border-radius: 30px;
}
.imagen2{
    height:70px;
    width:70px;
    border-radius: 30px;
}
.logo-insta{
    height:50px;
    width:50px;
}
.logo{
    width:250px
}
.pricing-entry .button, .pricing-entry > div p{
    margin-bottom: 10px;
}
.pricing-entry > .contenedor-iframe{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.contenedor-iframe iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-insta{
    text-align: center;
    background-color: #FFA216;
    position:sticky;
    top:0;
    z-index: 10000;
    color:white;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.banner-insta > span{
    height: 55px;
    line-height: 55px;
}
.banner-insta > a{
    color:white;
    padding:0;
    height: 55px;
    padding: 2.5px;
}

.logo{
    width: 250px;
  }
  
  .colorCeleste {
    background-color: #00C2CB !important; 
  }
  
  .colorNaranja{
    background-color: #156384 !important;
  
  }
  .colorAzul{
    background-color: #FFA216;
  }
  
  .colorClaro{
    background-color:#15F5FF ;
  }

  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #00C2CB;
  }

  .icono-nosotros{
      background: #00C2CB !important;
  }